DERMSInterfacePortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://frontend.derms/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://frontend.derms/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types/>
  <message name="addResource">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:int"/>
  </message>
  <message name="addResourceResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="removeResource">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:int"/>
  </message>
  <message name="removeResourceResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="listResourceAvailability">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="listResourceAvailabilityResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="requestResource">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:int"/>
  </message>
  <message name="requestResourceResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="returnResource">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="returnResourceResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="swapResource">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:string"/>
    <part name="arg3" type="xsd:string"/>
    <part name="arg4" type="xsd:string"/>
  </message>
  <message name="swapResourceResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="findResource">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="findResourceResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <portType name="DERMSInterface">
    <operation name="addResource" parameterOrder="arg0 arg1 arg2">
      <input ns1:Action="http://frontend.derms/DERMSInterface/addResourceRequest" message="tns:addResource" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://frontend.derms/DERMSInterface/addResourceResponse" message="tns:addResourceResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeResource" parameterOrder="arg0 arg1">
      <input ns3:Action="http://frontend.derms/DERMSInterface/removeResourceRequest" message="tns:removeResource" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://frontend.derms/DERMSInterface/removeResourceResponse" message="tns:removeResourceResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="listResourceAvailability">
      <input ns5:Action="http://frontend.derms/DERMSInterface/listResourceAvailabilityRequest" message="tns:listResourceAvailability" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://frontend.derms/DERMSInterface/listResourceAvailabilityResponse" message="tns:listResourceAvailabilityResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="requestResource" parameterOrder="arg0 arg1 arg2">
      <input ns7:Action="http://frontend.derms/DERMSInterface/requestResourceRequest" message="tns:requestResource" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://frontend.derms/DERMSInterface/requestResourceResponse" message="tns:requestResourceResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="returnResource" parameterOrder="arg0 arg1">
      <input ns9:Action="http://frontend.derms/DERMSInterface/returnResourceRequest" message="tns:returnResource" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://frontend.derms/DERMSInterface/returnResourceResponse" message="tns:returnResourceResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="swapResource" parameterOrder="arg0 arg1 arg2 arg3 arg4">
      <input ns11:Action="http://frontend.derms/DERMSInterface/swapResourceRequest" message="tns:swapResource" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://frontend.derms/DERMSInterface/swapResourceResponse" message="tns:swapResourceResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="findResource" parameterOrder="arg0 arg1">
      <input ns13:Action="http://frontend.derms/DERMSInterface/findResourceRequest" message="tns:findResource" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns14:Action="http://frontend.derms/DERMSInterface/findResourceResponse" message="tns:findResourceResponse" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

