DERMSInterface.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://derms.com/" name="DERMSInterface" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://derms.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <import namespace="http://frontend.derms/" location="DERMSInterfacePortType.wsdl"/>
  <binding name="DERMSServerImplPortBinding" type="ns1:DERMSInterface" xmlns:ns1="http://frontend.derms/">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="addResource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://frontend.derms/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://frontend.derms/"/>
      </output>
    </operation>
    <operation name="removeResource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://frontend.derms/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://frontend.derms/"/>
      </output>
    </operation>
    <operation name="listResourceAvailability">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://frontend.derms/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://frontend.derms/"/>
      </output>
    </operation>
    <operation name="requestResource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://frontend.derms/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://frontend.derms/"/>
      </output>
    </operation>
    <operation name="returnResource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://frontend.derms/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://frontend.derms/"/>
      </output>
    </operation>
    <operation name="swapResource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://frontend.derms/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://frontend.derms/"/>
      </output>
    </operation>
    <operation name="findResource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://frontend.derms/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://frontend.derms/"/>
      </output>
    </operation>
  </binding>
  <service name="DERMSInterface">
    <port name="DERMSServerImplPort" binding="tns:DERMSServerImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

